<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% set renderTitle = title or "Shopify Theme Vitals" %}
  {% set renderDescription = description or "Explore real-world Core Web Vitals performance data for popular Shopify themes." %}
  <title>{{ renderTitle }}</title>
  <meta name="description" content="{{ renderDescription }}">
  {% set css %}
    {% include "style.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>

  <meta property="og:description" content="{{ renderDescription }}" />
  <meta property="og:url" content="https://themevitals.com/" />
  <meta property="og:title" content="{{ renderTitle }}" />
  <meta property="og:image" content="{% socialImage renderTitle, shortDescription or renderDescription %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2B1ZGCEKGL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2B1ZGCEKGL');
  </script>
  <link rel="preload" href="/fonts/titillium-web-v17-latin-700.woff2" as="font" type="font/woff2" crossorigin importance="high">
</head>
<body>
  <header class="content">
    <nav>
      <ul role="list">
        <li><a aria-current="{% if page.url == '/' %}page{% else %}false{% endif %}" href="/">Home</a></li>
        <li><a aria-current="{% if page.url == '/themes/' %}page{% else %}false{% endif %}" href="/themes">All themes</a></li>
        <li><a aria-current="{% if page.url == '/about/' %}page{% else %}false{% endif %}" href="/about">About</a></li>
        <li><a aria-current="{% if page.url == '/faq/' %}page{% else %}false{% endif %}" href="/faq">FAQ</a></li>
        <li><a aria-current="{% if page.url == '/support/' %}page{% else %}false{% endif %}" href="/support">Support</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer class="banner">
    <div class="content flow">
      <p>Support this project by subscribing to monthly updates, trend reports, and web performance tips on Substack.</p>
      <p><a href="https://siacodes.substack.com/subscribe" class="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="12" height="12" aria-hidden="true"><path fill="currentColor" d="M96 96c0-35.3 28.7-64 64-64l288 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L80 480c-44.2 0-80-35.8-80-80L0 128c0-17.7 14.3-32 32-32s32 14.3 32 32l0 272c0 8.8 7.2 16 16 16s16-7.2 16-16L96 96zm64 24l0 80c0 13.3 10.7 24 24 24l112 0c13.3 0 24-10.7 24-24l0-80c0-13.3-10.7-24-24-24L184 96c-13.3 0-24 10.7-24 24zm208-8c0 8.8 7.2 16 16 16l48 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-48 0c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16l48 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-48 0c-8.8 0-16 7.2-16 16zM160 304c0 8.8 7.2 16 16 16l256 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-256 0c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16l256 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-256 0c-8.8 0-16 7.2-16 16z"/></svg>
        Subscribe now
      </a></p>
      <p class="footer-copy"><small>&copy; {% copyright %} Sia Karamalegos. Except as otherwise noted, the content of this page is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 License</a>. Not affiliated with Shopify.</small></p>
    </div>
  </footer>
</body>
</html>
