<section class="content">
  <div class="cta max-ch flow">
    <p>Struggling to achieve good on all your Core Web Vitals?</p>
    <a href="https://sia.codes/contact/" class="button">Get assistance</a>
  </div>
</section>
