---
layout: base.njk
title: FAQ | Theme Vitals
description: Frequently asked questions about the Theme Vitals project.
---

<section class="banner">
  <div class="content flow">
    <h1>Frequently Asked Questions</h1>
  </div>
</section>

<section class="content flow">
  <div class="faq-container">
    <!-- <details>
      <summary></summary>
      <div>
        <p></p>
      </div>
    </details> -->
    <details>
      <summary>My theme shows up slow, is that bad?</summary>
      <div>
        <p>Not necessarily! The real-user performance of a store is dependant on a lot of factors, including, but not limited to: the theme code, customizations to the theme code, installed apps, and additional third-party JavaScript, including tag managers.</p>
        <p>However, when looking at aggregated data across multiple websites, the theme code has the highest correlation to store performance.</p>
      </div>
    </details>
    <details>
      <summary>How were themes selected to be included?</summary>
      <div>
        <p>For total origins (domains) counts, I counted all root (home) pages in HTTPArchive. For each theme highlighted here, I only counted themes with a <code>theme_store_id</code>. In addition, I currently filter out any theme with less than {{ metaData.minOrigins }} origins for the latest month. So new, growing themes can be included, but older diminishing ones will be dropped even if they have data in earlier months.</p>
        <p>Do you think your theme is missing? The data is quite messy so I'm cross-checking it against a list of "confirmed themes". I might have missed yours. Check <a href="https://github.com/siakaramalegos/shopify-themes-performance/blob/main/currentThemes.json">this JSON file</a>. If your theme is not on there and you think it has enough installs, create an issue or submit a PR on <a href="https://github.com/siakaramalegos/shopify-themes-performance/issues">Github</a> or <a href="https://sia.codes/contact/">contact me</a>.</p>
      </div>
    </details>

    <details>
      <summary>How is this different from the data on the Shopify Performance site?</summary>
      <div>
        <p>The primary difference is the source of the data. The <a href='https://performance.shopify.com/pages/theme-performance-data-table'>Aggregated Theme Performance data</a> page uses internal, non-public data collected by Shopify. This site uses the publicly-accessible <a href='https://developer.chrome.com/docs/crux'>Chrome User Experience Report</a> (CrUX) data.</p>
        <p>Another difference is that more recently, they began limiting the data to only the 3 most recent versions of a theme. That data is not available in CrUX or HTTPArchive.</p>
        <p>This site also provides additional metrics like TTFB, FCP, number of origins, and estimated market share (at the time of writing this FAQ).</p>
        <p>These two sites are great to use together. This site contains all theme versions plus additional data while that one shows the trend for the more recent versions. </p>
      </div>
    </details>

    <details>
      <summary>How is estimated market share calculated?</summary>
      <div>
        <p>First, I count the total number of Shopify sites in the <a href='https://developer.chrome.com/docs/crux'>Chrome User Experience Report</a> (CrUX) data set. I use that as the denominator for the market share calculation of an individual theme.</p>
        <p>This metric is not the total market share of all Shopify sites. Rather, it is the total market share of sites with enough traffic to be included in CrUX.</p>
      </div>
    </details>

    <details>
      <summary>What does the % Passing CWV number mean?</summary>
      <div>
        <p>This is the percentage of websites using the theme that "pass" all Core Web Vitals. A passing score for a website means that 75% of users experience a good LCP, CLS, and INP. Learn more about these metrics on <a href="https://web.dev/articles/vitals">web.dev</a>.</p>
      </div>
    </details>

    <details>
      <summary>What do the red, yellow, and green categories mean for each metric (e.g., LCP)?</summary>
      <div>
        <p>The green number is the percentage of websites for the theme that achieve "good" for that metric. Good is defined as at least 75% of users having a good experience. For example, at the time of writing, a "good" LCP occurs if the Largest Contentful paint happens in 2.5 seconds or less.</p>
        <p>The red number is the percentage of websites for the theme that achieve "poor" for that metric. Poor is defined as 25% of users or more having a poor experience. For example, at the time of writing, a "poor" LCP occurs if the Largest Contentful paint happens in more than 4.0 seconds.</p>
        <p>The yellow number is the percentage of websites for the theme that "need improvement" for that metric. It is calculated as difference between the good and poor numbers. For example, if 80% of the theme's origins have a good LCP and 5% have poor, then 15% need improvement.</p>
        <p>Learn more about these metrics on <a href="https://web.dev/articles/vitals">web.dev</a>.</p>
      </div>
    </details>

    <details>
      <summary>I noticed an error. Where can I report it?</summary>
      <div>
        <p>Thanks for the catch! If you're comfortable, I'd love issues to be reported in <a href="https://github.com/siakaramalegos/shopify-themes-performance/issues">Github</a>. If Github is not your jam, you can contact me via my personal site's <a href="https://sia.codes/contact/">contact form</a>.</p>
      </div>
    </details>
  </div>
</section>
