---
layout: base.njk
---

<div class="banner">
  <div class="content flow">
    <h1>Shopify Vitals</h1>
    <p class="lead">Explore real-user web performance data for popular Shopify themes</p>
  </div>
</div>
<div class="content flow">
    <p>WIP! Start with <a href="/themes">all themes</a> page.</p>
</div>
