---
layout: base.njk
---

<div class="content flow">
  <h1>All themes</h1>

  {% set sortedThemes = themes | sortThemes %}
  <ul>
    {% for theme in sortedThemes %}
      <li><a href="/themes/{{ theme.slug }}">{{ theme.name }}</a></li>
    {% endfor %}
  </ul>
</div>
