---
layout: base.njk
pagination:
  data: themes
  size: 1
  alias: theme
permalink: "/themes/{{ theme.slug }}/"
eleventyComputed:
  title: "{{ theme.name }} Performance Data | Theme Vitals"
  description: "Explore real-user web performance for the Shopify theme {{ theme.name }} including the Core Web Vitals and other metrics, split by desktop and mobile sessions."
---

<section class="banner">
  <div class="content flow">
    <h1>{{ theme.name }}</h1>
    <p class="lead max-ch">Core Web Vitals and other performance metrics for real-world websites using the {{ theme.name }} theme. The data includes all pages and is split between mobile and desktop experiences.</p>
    <p>
      {% if theme.sunset %}
        <span class="pill">vintage</span>
      {% else %}
        <em><a href="https://themes.shopify.com/themes/{{ theme.slug }}">View in theme store</a></em>
      {% endif %}
    </p>
  </div>
</section>

<div class="content" data-client="mobile">
  <p class="text-right">
    <button id="mobile-switch" class="client-switch" role="switch" aria-checked="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12" height="12"><path fill="currentColor" d="M16 64C16 28.7 44.7 0 80 0L304 0c35.3 0 64 28.7 64 64l0 384c0 35.3-28.7 64-64 64L80 512c-35.3 0-64-28.7-64-64L16 64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64L80 64l0 320 224 0 0-320z"/></svg>
      Mobile
    </button>
    <button id="desktop-switch" class="client-switch" role="switch" aria-checked="false">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="12" height="12"><path fill="currentColor" d="M64 0C28.7 0 0 28.7 0 64L0 352c0 35.3 28.7 64 64 64l176 0-10.7 32L160 448c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-69.3 0L336 416l176 0c35.3 0 64-28.7 64-64l0-288c0-35.3-28.7-64-64-64L64 0zM512 64l0 224L64 288 64 64l448 0z"/></svg>
      Desktop
    </button>
  </p>


  <section class="flow" id="data-mobile">
    <h2>Summary</h2>
    <p class="max-ch">This section shows how {{ theme.name }} compares to other themes in terms of market rank and overall Core Web Vitals performance. It also shows how many websites using this theme are included in the analysis. See the <a href="/faq/">FAQ</a> for details on how themes and websites were selected.</p>

    <div class="popularity">
      <div>
        <p class="big-num mobile-data">{{ theme.summary.mobile.marketRank }}</p>
        <p class="big-num desktop-data">{{ theme.summary.desktop.marketRank }}</p>
        <p class="pos-rel">
          <button type="button" aria-label="more info" data-toggletip-content="The rank in market share only for the websites included in the Chrome User Experience Report. See FAQ.">Est. Market Rank</button>
          <span role="status"></span>
        </p>
      </div>
      <div>
        <p class="big-num mobile-data">{{ theme.summary.mobile.marketSharePct }}%</p>
        <p class="big-num desktop-data">{{ theme.summary.desktop.marketSharePct }}%</p>
        <p class="pos-rel">
          <button type="button" aria-label="more info" data-toggletip-content="The percent of Shopify websites with this theme, only for the websites included in the Chrome User Experience Report. See FAQ.">Est. Market Share</button>
          <span role="status"></span>
        </p>
      </div>
      <div>
        <p class="big-num mobile-data">
          {% if theme.summary.mobile.cwvRank == 999 %}
            N/A
          {% else %}
            {{ theme.summary.mobile.cwvRank }}
          {% endif %}
        </p>
        <p class="big-num desktop-data">
          {% if theme.summary.desktop.cwvRank == 999 %}
            N/A
          {% else %}
            {{ theme.summary.desktop.cwvRank }}
          {% endif %}
        </p>
        <p class="pos-rel">
          <button type="button" aria-label="more info" data-toggletip-content="The rank of this theme compared to all Shopify themes in terms of percent of websites passing all Core Web Vitals (CWV). The CWV are LCP, CLS, and INP.">Core Web Vitals Rank</button>
          <span role="status"></span>
        </p>
      </div>
      <div>
        <p class="big-num mobile-data">{% if theme.summary.mobile.passingCWV %}{{ theme.summary.mobile.passingCWV }}%{% else %}N/A{% endif %}</p>
        <p class="big-num desktop-data">{% if theme.summary.desktop.passingCWV %}{{ theme.summary.desktop.passingCWV }}%{% else %}N/A{% endif %}</p>
        <p class="pos-rel">
          <button type="button" aria-label="more info" data-toggletip-content="The percent of websites with this theme which pass all Core Web Vitals (CWV). The CWV are LCP, CLS, and INP.">Websites passing all CWV</button>
          <span role="status"></span>
        </p>
      </div>
    </div>
    <div class="chart-flex">
      <div>
        <h3 class="pos-rel">
          <button type="button" aria-label="more info" data-toggletip-content="The number of real-world websites included in the mobile or desktop data shown on this page.">Number of Websites</button>
          <span role="status"></span>
        </h3>
        <div class="mobile-data">
          {{ theme.charts.mobile.originsSvg | safe }}
          <p class="visually-hidden">
            {{ theme.charts.mobile.originsAria }}
          </p>
        </div>
        <div class="desktop-data">
          {{ theme.charts.desktop.originsSvg | safe }}
          <p class="visually-hidden">
            {{ theme.charts.desktop.originsAria }}
          </p>
        </div>
      </div>

      {% if theme.charts.mobile.passingCwvSvg %}
        <div class="mobile-data">
          <h3 class="pos-rel">
            <button type="button" aria-label="more info" data-toggletip-content="How many real-world websites using this theme pass all Core Web Vitals (CWV). The CWV are LCP, CLS, and INP.">Websites passing all CWV</button>
            <span role="status"></span>
          </h3>
          <div>
            {{ theme.charts.mobile.passingCwvSvg | safe }}
            <p class="visually-hidden">
              {{ theme.charts.mobile.passingCwvAria }}
            </p>
          </div>
        </div>
      {% endif %}

      {% if theme.charts.desktop.passingCwvSvg %}
        <div class="desktop-data">
          <h3 class="pos-rel">
            <button type="button" aria-label="more info" data-toggletip-content="How many real-world websites using this theme pass all Core Web Vitals (CWV). The CWV are LCP, CLS, and INP.">Websites passing all CWV</button>
            <span role="status"></span>
          </h3>
          <div>
            {{ theme.charts.desktop.passingCwvSvg | safe }}
            <p class="visually-hidden">
              {{ theme.charts.desktop.passingCwvAria }}
            </p>
          </div>
        </div>
      {% endif %}

      <div>
        <h3 class="pos-rel">
          <button type="button" aria-label="more info" data-toggletip-content="The number of real-world websites included in HTTP Archive, split by theme version for this theme. See FAQ.">Websites by Theme Version</button>
          <span role="status"></span>
        </h3>
        <div class="mobile-data">
          {{ theme.summary.mobile.versionsChart | safe }}
          <p class="visually-hidden">
            {{ theme.summary.mobile.versionsAria }}
          </p>
        </div>
        <div class="desktop-data">
          {{ theme.summary.desktop.versionsChart | safe }}
          <p class="visually-hidden">
            {{ theme.summary.desktop.versionsAria }}
          </p>
        </div>
      </div>
    </div>
    <!-- Hide all if no passing CWV chart (because would have no other charts) -->
    {% if theme.charts.mobile.passingCwvSvg %}
      <div class="mobile-data">
        <h2>Loading Speed Metrics</h2>
        <p class="max-ch">These three metrics break down the major steps in rendering a webpage. TTFB roughly correlates to server issues or complex Liquid code. FCP often correlates with render-blocking resources and using JavaScript to render the page. Slow LCP can be caused by many issues. For guidance on improving loading speed, read <a href="https://sia.codes/posts/debugging-shopify-lcp/">Debugging common causes for slow loading in Shopify Liquid storefronts</a>. If you need assistance, check out my <a href="https://sia.codes/services/">consulting services</a>.</p>
        <div class="chart-grid">
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="TTFB measures the amount of time between when the request started and when the first byte of data returned from the server.">Time to First Byte (TTFB)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.mobile.ttfb | safe }}
              <p class="visually-hidden">
                {{ theme.charts.mobile.ttfbAria }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="FCP measures the amount of time between when the request started and when the first content is rendered.">First Contentful Paint (FCP)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.mobile.fcp | safe }}
              <p class="visually-hidden">
                {{ theme.charts.mobile.fcpAria }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="LCP measures the amount of time between when the request started and when the largest element in the viewport is rendered.">Largest Contentful Paint (LCP)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.mobile.lcp | safe }}
              <p class="visually-hidden">
                {{ theme.charts.mobile.lcpAria }}
              </p>
            </div>
          </div>
        </div>
        <h2>Other Web Vitals Metrics</h2>
        <p class="max-ch">CLS and INP are user frustration metrics. Both can result in page abandonment. To learn how to identify and fix CLS, read <a href="https://sia.codes/posts/optimize-cls-on-shopify/">How to optimize Cumulative Layout Shift (CLS) on Shopify sites</a>. INP is a much more complex metric to debug and improve, but you can improve your chances by minimizing the number of apps and GTM tags on your site. If you need assistance, check out my <a href="https://sia.codes/services/">consulting services</a>.</p>
        <div class="chart-grid">
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="Cumulative Layout Shift (CLS) measures the total of how much the page or layout moved unexpectedly during a session.">Cumulative Layout Shift (CLS)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.mobile.cls | safe }}
              <p class="visually-hidden">
                {{ theme.charts.mobile.clsAria }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="Interaction to Next Paint (INP) measures how quickly the page responds to user input and reports the worst interactions in a session.">Interaction to Next Paint (INP)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.mobile.inp | safe }}
              <p class="visually-hidden">
                {{ theme.charts.mobile.inpAria }}
              </p>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p class="mobile-data">This theme has less than {{ metaData.minOrigins }} origins, which is the threshold to show Core Web Vitals data.</p>
    {% endif %}

    <!-- Hide all if no passing CWV chart (because would have no other charts) -->
    {% if theme.charts.desktop.passingCwvSvg %}
      <div class="desktop-data">
        <h2>Loading Speed Metrics</h2>
        <p class="max-ch">These three metrics break down the major steps in rendering a webpage. TTFB roughly correlates to server issues or complex Liquid code. FCP often correlates with render-blocking resources and using JavaScript to render the page. Slow LCP can be caused by many issues. For guidance on improving loading speed, read <a href="https://sia.codes/posts/debugging-shopify-lcp/">Debugging common causes for slow loading in Shopify Liquid storefronts</a>. If you need assistance, check out my <a href="https://sia.codes/services/">consulting services</a>.</p>
        <div class="chart-grid">
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="TTFB measures the amount of time between when the request started and when the first byte of data returned from the server.">Time to First Byte (TTFB)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.desktop.ttfb | safe }}
              <p class="visually-hidden">
                {{ theme.charts.desktop.ttfbAria }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="FCP measures the amount of time between when the request started and when the first content is rendered.">First Contentful Paint (FCP)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.desktop.fcp | safe }}
              <p class="visually-hidden">
                {{ theme.charts.desktop.fcpAria }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="LCP measures the amount of time between when the request started and when the largest element in the viewport is rendered.">Largest Contentful Paint (LCP)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.desktop.lcp | safe }}
              <p class="visually-hidden">
                {{ theme.charts.desktop.lcpAria }}
              </p>
            </div>
          </div>
        </div>
        <h2>Other Web Vitals Metrics</h2>
        <p class="max-ch">CLS and INP are user frustration metrics. Both can result in page abandonment. To learn how to identify and fix CLS, read <a href="https://sia.codes/posts/optimize-cls-on-shopify/">How to optimize Cumulative Layout Shift (CLS) on Shopify sites</a>. INP is a much more complex metric to debug and improve, but you can improve your chances by minimizing the number of apps and GTM tags on your site. If you need assistance, check out my <a href="https://sia.codes/services/">consulting services</a>.</p>
        <div class="chart-grid">
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="Cumulative Layout Shift (CLS) measures the total of how much the page or layout moved unexpectedly during a session.">Cumulative Layout Shift (CLS)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.desktop.cls | safe }}
              <p class="visually-hidden">
                {{ theme.charts.desktop.clsAria }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="pos-rel">
              <button type="button" aria-label="more info" data-toggletip-content="Interaction to Next Paint (INP) measures how quickly the page responds to user input and reports the worst interactions in a session.">Interaction to Next Paint (INP)</button>
              <span role="status"></span>
            </h3>
            <div>
              {{ theme.charts.desktop.inp | safe }}
              <p class="visually-hidden">
                {{ theme.charts.desktop.inpAria }}
              </p>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p class="desktop-data">This theme has less than {{ metaData.minOrigins }} origins, which is the threshold to show Core Web Vitals data.</p>
    {% endif %}
  </section>
</div>

<script>
  // Switch mobile/desktop data
  const buttonMobile = document.querySelector("#mobile-switch")
  const buttonDesktop = document.querySelector("#desktop-switch")
  const container = document.querySelector("[data-client]")

  buttonMobile.addEventListener("click", e => {
    container.setAttribute('data-client', 'mobile')
    buttonMobile.setAttribute("aria-checked", true)
    buttonDesktop.setAttribute("aria-checked", false)
  })
  buttonDesktop.addEventListener("click", e => {
    container.setAttribute('data-client', 'desktop')
    buttonMobile.setAttribute("aria-checked", false)
    buttonDesktop.setAttribute("aria-checked", true)
  })

  // Toggle tips (tooltips)
  // Get all the toggletip buttons
  const toggleTips = document.querySelectorAll('[data-toggletip-content]');

  // Iterate over them
  toggleTips.forEach(tip => {
    const message = tip.dataset.toggletipContent
    const liveRegion = tip.nextElementSibling;
    console.log(liveRegion.role);



    tip.addEventListener('click', () => {
      console.log({message, liveRegion});

      liveRegion.innerHTML = '';
      window.setTimeout(() => {
        liveRegion.innerHTML = `<span class="toggletip-bubble">${message}</span>`;
      }, 100);
    })

    // Close on click outsite tip
    document.addEventListener('click', (e) => {
      if (tip !== e.target) {
        liveRegion.innerHTML = '';
      }
    });

    // Close on Esc
    tip.addEventListener('keydown', (e) => {
      if ((e.keyCode || e.which) === 27) {
        liveRegion.innerHTML = '';
      }
    });

    // Close on blur
    tip.addEventListener('blur', (e) => {
      liveRegion.innerHTML = '';
    });

  })
</script>

{% include 'cta.njk' %}
